@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 60px;
	font-weight: 900;
}

h2 {
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

h5 {
	font-size: 22px;
	font-weight: 300;
}

h6 {
	font-size: 20px;
	font-weight: 900;
}

p {
	font-size: 20px;
	font-weight: 300;
	padding: 20px 0;
}

li {
	font-size: 15px;
	font-weight: 900;
}

span {
	font-size: 13px;
}

a {
	text-decoration: none;
}

@media (max-width: 1024px) {
    h1 {
		font-size: 50px;
		font-weight: 900;
	}
	
	h2 {
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 30px;
		padding-bottom: 10px;
	}
	
	h5 {
		font-size: 20px;
		font-weight: 300;
	}
	
	h6 {
		font-size: 18px;
		font-weight: 900;
	}
	
	p {
		font-size: 16px;
		font-weight: 300;
		padding: 20px 0;
	}
	
	li {
		font-size: 12px;
		font-weight: 900;
	}
}

@media (max-width: 767px) {
    h1 {
		font-size: 40px;
		font-weight: 700;
	}
}