$black: #000000;
$white: #ffffff;
$smoke-white: #f4f4f4;
$grey: #808080;
$light-grey: #acacac;
$blue: #367de3;
$dark-blue: #306ec7;
$green: #29b473;
$dark-green: #22925e;
$orange: #fdb22b;
$dark-orange: #e3a027;